@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('s/css/Lato Italic'), local('s/css/Lato-Italic') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('s/css/Lato Bold Italic'), local('s/css/Lato-BoldItalic') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('s/css/Lato Regular'), local('s/css/Lato-Regular') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('s/css/Lato Bold'), local('s/css/Lato-Bold') format('truetype');
}
